# Idea specififc
.idea*
*.class
*.swp
*.swo
*.iml
*.log
.DS_Store

# Scala-IDE specific
.scala_dependencies

# sbt specific
logs/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

